extends ../layout/index

block content
    div.py-10
        h1.text-5xl.my-10.font-extrabold.text-center REAL
            span.font-normal ESTATE
        h2.text-center.text-2xl.font-extrabold= page
        if errors
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    p(class="bg-red-600 text-white font-bold text-xs uppercase text-center p-2 mb-1")= error.msg
        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/forgot-password")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="registered_email") Registered Email Addres
                        input#registered_email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Type your email" type="email" name="email")
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") Already have an account?
                            span.text-indigo-300  Sign In
                        a.text-gray-500.text-xs(href="/auth/signup") Not have an account yet?
                            span.text-indigo-300  Sign Up
                    input(class="w-full bg-indigo-600 py-2 text-white font-bold rounded-sm cursor-pointer hover:bg-indigo-700" type="submit" value="Send info")